<div style="width: 800px; margin: auto;padding : 30px 10px;border : 1px solid grey;box-shadow: 0px 0px 2px 2px #eee;">
    <div class="submit-form">
      <div *ngIf="!submitted" >
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" name="username" [(ngModel)] = "user.name">
            </mat-form-field>
            <br>
       <mat-form-field class="example-full-width">
          <input matInput placeholder="User Password" type="password" name="password" [(ngModel)] = "user.password">
        </mat-form-field>
  
        </form>
  
        <button (click)="createUser()" class=" btn-success" style="background-color: brown;color: white; margin-right: 15px;cursor: pointer;">Register me</button>
        <button (click)="redirectToSuccess()" class="btn-success" style="background-color: brown;color: white; cursor: pointer;">Home</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>User registered Successfully...</h3>
        <button class="btn btn-success" (click)="newUser()" style="margin-right: 10px;">New User</button>
        <button (click) = "redirectToSuccess()">Sign Out</button>
      </div>
    </div>
  </div>