.Cart {
    width: 750px;
    margin: auto;
    background: rgb(250, 154, 154);
    border-radius: 7px;
    box-shadow: 1px 2px 3px 0px rgb(250, 154, 154);
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  
  .Bill{
    padding: 30px;
  }

  .Cart-title {
    border-bottom: 1px solid rgb(8, 8, 8);
    color: rgb(250, 154, 154);
    font-size: 1.5em;
    font-weight: 900;
    padding-bottom: 1em;
    background-color: rgb(250, 154, 154)
  }

  .logout-btn{
      padding : 20px 80px;
      margin: auto;
      background-color:white;
      color :black;
      cursor: pointer;
      text-decoration: dotted;
  }
