.CartItem {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
  }
  
  .CartItem div {
    width: 100%;
  }
  
  .CartItem button {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    margin: 0 3px;
    border: none;
    cursor: pointer;
  }
  
  .CartItem button:disabled {
    background-color: #f8f9fa;
  }
