.container{
    max-width: 500px;
	margin:90px auto;
	/* display:flex; */
	/* justify-content:center; */
	align-items:center;
}
table{
    width:100%;
	background-color:1px solid lightcoral;
}
th{
    flex: 1 1 20%;
	text-align:center;
    color: brown;
    background-color:white;
}
td{
    text-align: center;
}
tr{
    border-bottom: 1px solid black;
}