<div class="login-wrapper">
    <mat-card class="example-card">
      
    <mat-card-header>
      <mat-card-title>Admin Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
              <mat-form-field class="example-full-width">
              <input matInput placeholder="User Name" name="username" [(ngModel)] = "admin.name" required>
              </mat-form-field>
         
         <mat-form-field class="example-full-width">
            <input matInput placeholder="User Password" type="password" name="password" [(ngModel)] = "admin.password" required>
          </mat-form-field>
    
      </form>
    
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click) = 'authenticateUser()'>Sign in</button>
    </mat-card-actions>
  </mat-card>
  </div>