mat-card {
    max-width: 50%;
    margin: auto;
  }
mat-card-title{
    text-align: center;
}
mat-form-field {
    display: block;
}

.login-wrapper{
    background-color:lightcoral;
    padding : 50px 10px;
}
